@import url('https://fonts.googleapis.com/css?family=Princess+Sofia');

/*BASIC*/

body {
	background-color: #ffffff;
	width:100vw;
	height:auto;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
	pardding-top:30px;
	transition-property:color;
	transition-duration: .2s;
}

a.next {
	display:block;
	text-align:center;
}

.left {
	float:left;
	padding-right:10px;
}

.right {
	float:right;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.container {
	width:100%;
	height:100vh;
	display:table;
	font-family:'athiti', sans-serif;
}

/*HEADER*/

header {
	max-height:80px;
	width:100%;
	background-color:0;
	position:fixed;
	z-index:1;
}

.header-image {
	position:fixed;
	width:26%;
	top:0;
	left:37%;
	margin-right:0;
	min-height:150px;
	background-image:url('../images/topimg.png');
	background-size:cover;
	padding-bottom:10px;
	margin-bottom:-10px;
}

nav {
	width:50%;
}

nav a.next {
	font-size:24px;
	color:#ccc;
	transition-property:color;
}

nav a.next:hover {
	color:#000;
	transition-duration: .2s;
}

nav ul {
	padding-left:60%;
	padding-top:4%;
}

nav li {
	cursor:pointer;
	box-sizing: border-box;
	display:none;
	font-family:sans-serif;
	padding-bottom:20px;
	font-family:'princess sofia', cursive;
}

.hamburger {
	height:30px; 
	width:30px;
	margin-right:3vmin;
	margin-top:3vmin;
	cursor:pointer;
	float:right;
}

.line {
	height:3px;
	width:100%;
	background-color:#ccc;
	border-radius:2px;
	margin-top:3px;
	transition:transform .2s;
}

.rotate-cw {
	transform: rotate(45deg) translate(4px,4px);
	transition:transform .2s;
}

.rotate-ccw {
	transform: rotate(-45deg);
	transition:transform .2s;
}

/*TITLE*/

.title {
	display:none;
	vertical-align:middle;
	text-align:center;
}

h1 {
	font-size:80px;
	margin-bottom:2%;
	font-family:'princess sofia', cursive;
}

h2 {
	font-size:32px;
	font-family:'dancing script', cursive;
}

.title p {
	font-size:24px;
	font-style:italic;
}

.next {
	font-size:50px;
	transition-property:color;
	cursor:pointer;
}

.next:hover {
	color:#C3AAAA;
	transition-duration:.2s;
}

.title a {
	display:block;
	padding-top:20px;
	color:black;
	width:60px;
	margin:20px auto;
	text-align:center;
}

/*ABOUT*/

.container2 {
	height:100vh;
	width:100%;
	display:table;
}

div.about {
	text-align:center;
	display:table-cell;
	vertical-align: middle;
	padding-top:60px;
}

.about p {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	line-height:1.2;
	width:60%;
	margin:20px 20%;
	text-align:justify;
}

.about a {
	margin-top:40px;
}

/*FOOTER*/

footer {
	position:fixed;
	bottom:5%;
	width:100%;
	height:auto;
	background-color:#fff;
}

.footer-image {
	width:30%;
	margin-left:35%;
	min-height:150px;
	background-image:url('../images/bottomimg.png');
	background-size:cover;
}

@media only screen and (max-width:640px) {
	nav {display:none;}
	p {margin:0 40px; font-size:1em;}
	input {width:100px;}
}